/* UI verse er button */

.btnCus {
  position: relative;
  font-size: 14px; /* ↓ from 17px */
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 1.8em; /* ↓ from 1em 2.5em */
  display: inline-block;
  cursor: pointer;
  border-radius: 4em; /* ↓ from 6em */
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: gold;
}

.btnCus:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnCus:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnCus::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}

.btnCus:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}