@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* src/index.css বা global.css */

@import "tailwindcss";

@plugin "daisyui" {
  /* ✅ Theme configuration */
  themes: winter --default, forest --prefersdark;
}

/* ✅ Custom dark variant */
@custom-variant dark (&:where([data-theme=forest], [data-theme=forest] *));


/* ✅ Global dark text style */
.dark {
  @apply text-white;
}


/* src/components/button.css */

@import "tailwindcss";

@plugin "daisyui";

.btn-custom {
  @apply btn btn-primary rounded-lg shadow-md;
}

.btn-custom:active {
  @apply scale-95;
}

/* Dark mode variant */
.dark .btn-custom {
  @apply btn-secondary;
}

* {
  font-family: "Poppins", sans-serif;
}

.logo-font {
  font-family: "Anton", sans-serif;
}
